@using CustomComponent
@inherits ConfirmModalBase

@if (ShowConfirmDialog)
{
    <!-- Modal -->
    <div class="modal show fade d-block" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@ModalHeaderText</h5>
                <button type="button" class="close" @onclick="() => ConfirmationChanged(false)" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @ModalBodyText
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    @onclick="() => ConfirmationChanged(false)">Cancel</button>
                <button type="button" class="btn btn-primary"
                    @onclick="() => ConfirmationChanged(true)">@ConfirmButtonText</button>
                @* <MudButton @onclick="Close_Modal">Cancel</MudButton>
                <MudButton Color="Color.Primary" OnClick="Submit">@ConfirmButtonText</MudButton> *@
            </div>
        </div>
    </div>
</div>
}
